@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply font-bold py-2 px-4 rounded cursor-pointer select-none;
    }
    
    .btn-blue {
        @apply bg-blue-500 text-white dark:bg-blue-900;
    }
    
    .btn-green {
        @apply bg-green-500 text-white dark:bg-blue-900;
    }
    
    .btn-main {
        @apply bg-white text-black dark:bg-stone-500 dark:text-cyan-300;
    }
    
    .btn-blue:hover {
        @apply bg-blue-700;
    }
    .input {
        @apply border rounded-sm dark:bg-[#1d1e21] dark:border-blue-100 dark:text-white;
    }
    
    .dark-white {
        @apply dark:text-white;
    }
}

@layer base {
    body {
        @apply bg-white dark:bg-[#303237]
    }
}

@layer utilities {
    .hidden-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .hidden-scrollbar::-webkit-scrollbar {
        display: none;
    }
}